/********** Template CSS **********/
:root {
    --primary: #355EFC;
    --secondary: #E93C05;
    --secondary-light: #F5EEEE;
    --tertiary: rgba(16, 16, 16, 0.7);;
    --light: #DFE4FD;
    --white: #FFFFFF;
    --dark: #101010;
    --green: #006B67;
    --green-secondary: #7CB041;
    --green-light: #E6F1F0;
}

.p-tb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-tb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid var(--kt-border-color);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.content {
    margin-top: 76px;
}

@media (max-width: 991.98px) {
    .content {
        margin-top: 59px;
    }
}

.text-right {
    text-align:right !important
}

/*** Master Color Text ***/
.text-tertiary {
    color: var(--tertiary)
}

.text-green {
    color: var(--green) !important;
}

.text-red {
    color: var(--secondary);
}

.text-green-light {
    color: #20A95A;
}

.text-red-error {
    color: #B3261E;
}

.text-opacity {
    opacity: 0.7;
}

.text-right {
    text-align:right !important
}

.link-green-hover:hover {
    color: var(--green) !important;
}

/*** Master Icon ***/
.icon-package {
    width: 24px;
    height: 24px;
}

.icon-cicilan {
    width: 64px;
    height: 20.1px;
    float: right;
}

/*** Master Background ***/
.bg-green {
    background-color: var(--green);
}

.bg-green-light {
    background-color: var(--green-light);
}

.bg-green-card {
    background-color: #7CB041;
}

.bg-yellow-green {
    background-color: #F2F8ED;
}

.bg-red-canceled {
    background-color: #F8F8F8;
}

.bg-payment-deadline {
    background-color: #F8FCFC;
}

.bg-green-paid {
    background-color: #F6FFF4;
}

.bg-picture {
    background-size: 13% 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets-web/img/image/picture.png");
}

.bg-image-1 {
    background-image: url("/assets-web/img/background/background-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-2 {
    background-image: url("/assets-web/img/background/background-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-3 {
    background-image: url("/assets-web/img/background/background-3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-4 {
    background-image: url("/assets-web/img/background/background-4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-5 {
    background-image: url("/assets-web/img/background/background-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-6 {
    background-image: url("/assets-web/img/background/background-6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-7 {
    background-image: url("/assets-web/img/background/background-7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-package-umroh {
    background-image:url("/assets-web/img/background/package-umroh.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-package-umroh-plus {
    background-image:url("/assets-web/img/background/package-umroh-plus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-package-wisata-halal {
    background-image: url("/assets-web/img/background/package-wisata-halal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-image-package-diy {
    background-image: url("/assets-web/img/background/package-diy.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*** Master Icon ***/
.fa-diamond-turn-right:before, .fa-directions:before {
    content: "\f5eb";
    font-size: 36px;
}

/*** Master Font ***/
.fs-44 {
    font-size: 44px;
}

.fs-32 {
    font-size: 32px;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

@media (max-width: 768px) and (min-width: 575.99px) {
    .fs-44 {
        font-size: 32px;
    }

    .fs-32 {
        font-size: 30px;
    }

    .fs-20 {
        font-size: 18px;
    }

    .fs-16 {
        font-size: 14px;
    }
}

@media (max-width:575.98px) {
    .fs-44 {
        font-size: 30px;
    }

    .fs-32 {
        font-size: 28px;
    }

    .fs-20 {
        font-size: 16px;
    }

    .fs-16 {
        font-size: 12px;
    }
}

.font-normal-700 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
}

.font-normal-600 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
}

.font-normal-500 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
}

.font-normal-400 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
}

/* Badge Custom */
.badge-green-light {
    background-color: #20A95A;
}

.badge-red-light {
    background-color: #FEEEED;
}

.lable-danger {
    background: var(--secondary-light);
    padding: 0.5rem;
    border-radius: var(--bs-card-border-radius);
}

/*** Master Image ***/
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.checked {
    color: orange;
}


/*** Navbar ***/
.nav-link-href {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.nav-link-href:hover {
    padding: 25px 15px;
    color: var(--primary);
    font-weight: 500;
    outline: none;
}

.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(53, 94, 252, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/header.jpg) top left no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--dark);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

/*** Copyright ***/
.copyright {
    color: var(--dark);
}
